body, html {
	margin: 0;
    height: 100%;
}


.title {
	position: absolute;
	margin: 0 auto;
    max-width: 500px;
    height: 150px;
   /* background: rgba(0,0,0,.4);*/

    z-index: 2;
    vertical-align: middle;	
    padding-top: 2rem;
     left: 0;
  right: 0;
}
.title p{
	font-family: "Playfair Display";
	font-weight: 900;
	font-size: 30px;
	line-height: 1rem;
	text-align: center;
	vertical-align: middle;
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;

}

.titlecontainer {
	position: relative;
	max-width: 500px;
	display: block;
	margin: 0 auto;
	height: 230.98px;
	padding-top: 5rem;
	pointer-events: none;
}


.rings {
    z-index: 1;
 	width: 500px;

    position: absolute;
    left: 50%;
  margin-left: -250px;

}
.ringscontainer {
	position: relative;
	display:block;
    margin: 0 auto;
}

.logo {
	text-align: center;
	display: block;
	padding: 1.5rem;
	z-index: 5;
	pointer-events: all;


}

body {
	
}

.byline-div {
	padding-top: 2.2rem;
	padding-bottom: 1rem;

}
.byline {
	font-family: "Open Sans";
	font-size: 15px;
	color: white;
	display: block;
	margin: 0 auto;
	max-width: 560px;
	text-align: center;
}

.lede {
	margin-top: 100px;
	display: block;
	margin: 0 auto;
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 1.7;
	max-width: 560px;
	padding-right: 1rem;
	padding-left: 1rem;
	
	color: white;

}

.lede-div {
	padding-top: 1rem;
	padding-bottom: 2rem;
}


.sections .step:first-child {


}

.sections .step {
	 margin-bottom: 500px;
	 padding: 1rem;
	 display: block;
	 margin-right: auto;
	 margin-left: auto;
	 max-width: 500px;
	 pointer-events: none;


}

.vis {

	  left: 0;

	position: absolute;
	clear: both;
	background-color: #fff9f1;
	max-width: 1440px;

}


	


.graphic {
	position: relative;
	clear: both;
	content: "";

}


#graphic1 {
	height: 6556.31px;
}
#sections1 {
	position: absolute;
	top: 0px;
	left: 0px;
  	z-index: 90;
  	width: 100%;
  	clear: both;
  	pointer-events: none;

}

.sticktotop {
	

}


.bubbles {
	width: 100%;
   	height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #2A2738;
}

.node {
	opacity: 0.8;
}

.intro {
	position: relative;
	z-index: 2;
	height: 100%;
	pointer-events: none;
}

.step .prose {

	text-align: left;
	font-family: "Merriweather";
	font-size: 16;
	line-height: 1.8;
	padding: 1rem;
	color: #53412d;

}



.step h2 {

	font-family: "Merriweather";
	font-size: 24px;
	text-align: center;
	font-weight: 900;
	color: #53412d;
}
.stepp h2 {
	font-family: "Merriweather";
	font-size: 24px;
	text-align: center;
	font-weight: 900;

}

.stepp .prose {

	text-align: left;
	font-family: "Merriweather";
	font-size: 16;
	line-height: 1.8;
	padding: 1rem;
}

.stepp {
	 padding: 1rem;
	 display: block;
	 margin-right: auto;
	 margin-left: auto;
	 max-width: 500px;
	 pointer-events: none;
}

.step:last-child {
	margin-bottom: 200px;
}

.sections .step:first-child {
	margin-top: 200px;
}

.is_fixed {
	position: fixed !important;
	top: 0;

}

.is_unfixed {
	position: absolute !important;
	top: 0;

}

.is_bottom {
	position: absolute;
	bottom: 0;
    top: auto;
}

.countries .borders {
	stroke: #A99D8F;
	fill: none;
	stroke-width: 0.5px;
}


.inactive {
	opacity: 0;
}

.active {
	opacity: 1;
}

.citydot.inactive {
	pointer-events: none;
}
.citydot.active {
	pointer-events: all;
	cursor: pointer;
}
.citytext {
	font-family: "Roboto";
	text-transform: uppercase;
	font-weight: 600;
	fill: #53412d;
	pointer-events: none;
}

.zoomed {
	font-size: 4px;
}

.unzoomed {
	font-size: 10px;
}

.ytick-line {
	stroke: #A99D8F;
	stroke-dasharray: 4, 4;
}

.ytick-text {
	font-family: "Roboto";
	font-size: 11px;
	fill: #53412d;
	alignment-baseline: middle;
}

.year-axis line {
	stroke: #53412d;
}

.year-axis path {
	stroke: #53412d;
}

.year-axis text {
	fill: #53412d;

}

.line-g .line {
	
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 2px;
}

.line-g .mainline {
	stroke: #2f2d53;
}

.line-g .annotation-note-label {
	font-family: "Roboto";
	font-size: 14px;
	fill: black;
}

.small-multiple .annotation-note-label {
	font-family: "Roboto";
	font-size: 10px;
	fill: black;
}
.annotation-note-title {
	font-family: "Roboto";
	font-weight: 900;
	font-size: 14px;
	fill: #ff3814;

}

.annotation.callout.circle path {
	stroke: black;

}

#smallmultiples {
	max-width: 1440px;
	text-align: center;
}

.small-multiple {
	margin-right: 20px;
	margin-left: 20px;

}
.sm-medal {
	cursor: pointer;
}
.sm-medal:hover {
	stroke: black;
}

.country-label {
	font-family: "Roboto";
	font-size: 32px;
	pointer-events: none;
	text-transform: uppercase;
	font-weight: 700;
}

.medal-tool-tip {
    position: absolute;
    font-family: 'Roboto';
    font-size: 14px;
    z-index: 1000000000;
    text-align: left;
    width: auto;
    color: #353535;
    visibility: hidden;
    pointer-events: all;
    border: 1px solid rgba(193, 193, 193, 0.8);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    background: white;
    padding: 0.75em;
    width: 250px;
    pointer-events: none;
}

.medal-tool-tip img {
	margin-right: 5px;
}

.medal-tool-tip .flag-img {
	height: 15px;
}

.medal-tool-tip .column-left {
    display: inline-block;
    width: 70px;
    vertical-align: top;
    color: #323232;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 5px;
 
}

.athlete-name {
	border-bottom: 1px solid #cdcdcd;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
}

.medal-tool-tip .column-right{
    display: inline-block;
    width: 180px;
    vertical-align: top;
 
}

.sm-div .sm-image {
	position: relative;
	pointer-events: none;

}

.sm-div .svg-div {
	/*position: absolute;*/
}
.sm-div .sm-image img {
	position: absolute;
	width: 350px;
	opacity: 0.3;
	top: -300px;
}

.sm-div {
	display: inline-block;
	margin: 0 auto;
	position: relative;
	

}

.medal-label-div {
	position: absolute;
	pointer-events: none;
	display: inline;
	z-index: 1000;
	left: 20;
	top: 250;

}
.medal-label-div img {
	display: inline-block;
	padding: 3px;
	vertical-align: middle;



}
.medal-label-div div {
	display: inline-block;
	padding: 3px;
	font-family: "Roboto";

}

#matrix {
	display: block;
	margin: 0 auto;
}

.matrix-svg {
		display: block;
	margin: 0 auto;
}

.cell:hover {
	stroke: black;
	cursor: pointer;
}

.country-axis {
	font-family: "Roboto";
}
.sport-axis {
	font-family: "Roboto";
}
@media only screen and (max-width: 600px) { 
	.rings {
		width: 400px;
	 	left: 50%;
	 	  margin-left: -200px;
	}

	.title p{
		font-size: 24px;
	}

	.annotation-note-title {

		font-size: 10px;

	}

	.annotation-note-label {
		font-size: 10px;
	}

	

}
