body {
	margin: 0;
}
.title {
	position: absolute;
	margin: 0 auto;
    max-width: 500px;
    height: 150px;
   /* background: rgba(0,0,0,.4);*/

    z-index: 2;
    vertical-align: middle;	
    padding-top: 2rem;
     left: 0;
  right: 0;
}
.title p{
	font-family: "Playfair Display";
	font-weight: 900;
	font-size: 30px;
	line-height: 1rem;
	text-align: center;
	vertical-align: middle;
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;

}

.titlecontainer {
	position: relative;
	max-width: 500px;
	display: block;
	margin: 0 auto;
	height: 230.98px;
	padding-top: 5rem;
	pointer-events: none;
}


.rings {
	position: absolute;
    z-index: 1;
 	width: 500px;
}


.logo {
	text-align: center;
	display: block;
	padding: 1.5rem;
	z-index: 5;
	pointer-events: all;


}

body {
	
}

.byline-div {
	padding-top: 2.2rem;
	padding-bottom: 1rem;

}
.byline {
	font-family: "Open Sans";
	font-size: 15px;
	color: white;
	display: block;
	margin: 0 auto;
	max-width: 560px;
	text-align: center;
}

.lede {
	margin-top: 100px;
	display: block;
	margin: 0 auto;
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 1.7;
	max-width: 560px;
	padding-right: 1rem;
	padding-left: 1rem;
	
	color: white;

}

.lede-div {
	padding-top: 1rem;
	padding-bottom: 2rem;
}


#sections .step:first-child {

}

#sections .step {
	 margin-bottom: 500px;
	 padding: 1rem;
}

#vis {

	  left: 0;

	position: absolute;
	clear: both;

}
	


#graphic {
	position: relative;
	clear: both;
	content: "";
}
#sections {
	left: 0;
	position: absolute;
  top: 0px;
  z-index: 90;

  clear: both;
}



.bubbles {
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #2A2738;
}

.node {
	opacity: 0.8;
}

.intro {
	position: relative;
	z-index: 2;
	height: 100%;
	pointer-events: none;
}

.step .prose {
	display: block;
	margin: auto;
	text-align: left;
	font-family: "Merriweather";
	font-size: 16;
	line-height: 1.8;
	
	padding: 1rem;
	color: white;

}

.step {
	 margin-bottom: 500px;
	 padding: 1rem;
}

.step h2 {

	font-family: "Merriweather";
	font-size: 24px;
	text-align: center;
	font-weight: 900;
}
.step:last-child {
	margin-bottom: 200px;
}

.step:first-child {
	margin-top: 200px;
}

.is_fixed {
	position: fixed !important;
	top: 0;

}

.is_unfixed {
	position: absolute !important;
	top: 0;

}

.is_bottom {
	position: absolute;
	bottom: 0;
    top: auto;
}
